form {
  max-width: 100%;
  background-color: #282c34;
  width: 30rem;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 black;
  div {
    display: flex;
    flex-direction: column;
    &:nth-child(2) {
      input {
        max-width: 80%;
        border-radius: 5px;
        outline-style: none;
        text-decoration: white underline;
        color: black;
      }
    }
  }
  input{
    padding: .5rem;
    margin: .25rem auto .25rem auto;
    width: 28rem;
  }
}

.red {
 background-color: rgba(220, 20, 60, 0.53);
}

.button-div {
  span {
    padding-right: 3rem;
    color: whitesmoke;
  }
  display: flex;
  flex-direction: row-reverse;
  button {
    transition: .2s;
    border-radius: 4px;
    width: 5rem;
    height: 2rem;
    margin: .25rem 3rem .25rem .25rem;
    border: none ;
    &:hover{
      color: whitesmoke;
      background-color: black;
    }
    &:active{
      color:black;
      background: linear-gradient(to left,white,black);
  }
  }
}

.invitation{
  text-align: center;
  color: aliceblue;
  font-size:2rem;
  padding: .5rem;
}

.action-text {
  font-size: 2rem;
  transition: .2s;
  &:hover{
    font-size:3rem;
  }

}